:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #ffffff;
    --background-button-color: #2196F3;
    --primary-background-color: #FFF;
    --background-team-color: #F5F4FA;
    --logo-color: #000;
    --secondary-background-color: #2F303A;

}

*,
::after,
::before  {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
    margin-top: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--title-text-color);
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    color: var(--primary-text-color);
    background: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/*header*/

.logo {
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.blue {
    color: var(--background-button-color);
}

.site-list {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.site-link {
    text-decoration: none;
    color: var(--title-text-color);
}

.site-link:hover,
.site-link:focus {
    color: var(--background-button-color);
}

/*Spost*/

.post {
    background-color: var(--secondary-background-color);
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

}

.postTitle {
    color: var(--secondary-text-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-align: center;
}

.postbtn {
    background: var(--background-button-color);
    color: var(--secondary-text-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    margin: 0 auto;
}

/*benefits*/
.benefits-title {
    color: var(--title-text-color);
    font-weight: 700;
    letter-spacing: 0.42px;
}

.benefits-text {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.benefits-list {
    list-style: none;
}

.sectionTitle {
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px;
}

.team {
    background-color: var(--background-team-color);
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.teamCard {
    width: 270px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.card {
    width: 270px;
}

.teamName {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center;
}

.position {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    text-align: center;
}

.activity {
    padding-bottom: 94px;
}

/*footer*/

.pageFooter {
    background: var(--secondary-background-color);
}

.adress {
    color: var(--secondary-text-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    cursor: pointer;
    text-decoration: none;
}

.email,
.phone {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    cursor: pointer;
    text-decoration: none;
}

.footer-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
    color: var(--secondary-text-color);
}