:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #ffffff;
    --background-button-color: #2196F3;
    --primary-background-color: #FFF;
    --background-team-color: #F5F4FA;
    --logo-color: #000;
    --secondary-background-color: #2F303A;

}

body {
    width: 1600px;
    color: var(--primary-text-color);
    background: var(--primary-background-color);
}

/*header*/

.logo {
    color: var(--logo-color);
}

.blue {
    color: var(--background-button-color);
}

.site-list {
    color: var(--title-text-color);
    text-decoration: none;
}

.site-list:hover {
    color: var(--background-button-color);
}

/*Spost*/

.post {
    background-color: var(--secondary-background-color);
}

.postTitle {
    color: var(--secondary-text-color);
}

.postbtn {
    background: var(--background-button-color);
    color: var(--secondary-text-color);
    cursor: pointer;
}

/*benefits*/
.benefits-title {
    color: var(--title-text-color);
    font-size: 14px;
}

.benefits-text {
    font-size: 14px;
}

/*footer*/

.pageFooter {
    background: var(--secondary-background-color);
}

.adress {
    color: var(--secondary-text-color);
}